<hr />
<h2>Allergy in general</h2>
<h3>Videos</h3>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="" alt="">
      <div class="caption">
        <h3>Reducing the Risk of Atopic Dermatitis</h3>
        <a href="#" class="btn btn-primary" role="button">Watch video</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="" alt="">
      <div class="caption">
        <h3>Pediatric Allergy: Impact of Early Feeding</h3>
        <a href="#" class="btn btn-primary" role="button">Watch Video</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="" alt="">
      <div class="caption">
        <h3>Pediatric Allergy: A Growing Health Problem and Emerging Solutions</h3>
        <a href="#" class="btn btn-primary" role="button">Watch Video</a>
      </div>
    </div>
  </div>
</div>






<ul class="article-list">
    <li><a href="/clinical-topics/allergy-and-immunity/articles/reducing-the-risk-of-atopic-dermatitis">Reducing the Risk of Atopic Dermatitis</a></li>
    <!--  <li><a href="/clinical-topics/allergy-and-immunity/articles/developing-allergy-identifying-the-risks">Developing Allergy - Identifying the Risks</a></li> -->
    <li><a href="/clinical-topics/allergy-and-immunity/articles/pediatric-allergy-impact-of-early-feeding">Pediatric Allergy: Impact of Early Feeding</a></li>
    <li><a href="/clinical-topics/allergy-and-immunity/articles/pediatric-allergy-a-growing-health-problem-and-emerging-solutions">Pediatric Allergy: A Growing Health Problem and Emerging Solutions</a></li>
    <!--li><a data-href="/nutrition-health-topics/allergy-and-immunity/articles/cows-milk-protein-allergy">Dietary management of cow&rsquo;s milk protein allergy</a></li-->
</ul>
<h3>External links</h3>
<ul class="article-list">
    <li><a href="http://www.aaaai.org/home.aspx" target="_blank">American Academy of Allergy, Asthma &amp; Immunology (AAAAI)</a></li>
</ul>

<h3>Abstracts</h3>
<ul class="article-list">
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/15100668?ordinalpos=&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.SmartSearch&amp;log$=citationsensor" target="_blank">Becker A, Watson W, Ferguson A, Dimich-Ward H, Chan-Yeung M. The Canadian asthma primary prevention study: outcomes at 2 years of age. <em>J Allergy Clin Immunol.</em> 2004;113:650&ndash;656.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/9053884?ordinalpos=&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.SmartSearch&amp;log$=citationsensor" target="_blank">D&rsquo;Agata A, Betta P, Sciacca P, et al. Role of dietary prevention in newborns at risk for atopy. Results of a follow-up study [in Italian]. <em>Pediatr Med Chir.</em> 1996;18:469-472. </a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/7971447?ordinalpos=&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.SmartSearch&amp;log$=citationsensor" target="_blank">De Seta L, Siani P, Cirillo G, Di Gruttola M, Cimaduomo L, Coletta S. The prevention of allergic diseases with a hypoallergenic formula: a follow-up at 24 months. The preliminary results [in Italian]. <em>Pediatr Med Chir.</em> 1994;16:251&ndash;254.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/11079734?dopt=Abstract" target="_blank">Exl BM, Deland U, Secretin MC, Preysch U, Wall M, Shmerling DM. Improved general health status in an unselected infant population following an allergen-reduced dietary intervention programme: the ZUFF-STUDY-PROGRAMME. Part II: infant growth and health status to age 6 months. ZUg-FraunFeld. <em>Eur J Nutr. </em>2000;39:145-156.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=16143739&amp;query_hl=14&amp;itool=pubmed_docsum" target="_blank">Hays T, Wood RA. A systematic review of the role of hydrolyzed infant formulas in allergy prevention. <em>Arch Pediatr Adolesc Med.</em> 2005;159:810-816.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/12487202?ordinalpos=8&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum" target="_blank">H&oslash;st A. Frequency of cow&rsquo;s milk allergy in childhood. <em>Ann Allergy Immunol.</em> 2002;89(suppl 1):33-37.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/15829656?ordinalpos=1&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum" target="_blank">Lara-Villoslada F, Olivares M, Xaus J. The balance between caseins and whey proteins in cow's milk determines its allergenicity. <em>J Dairy Sci.</em> 2005;88:1654-1660.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=8831855&amp;query_hl=23" target="_blank">Marini A, Agosti M, Motta G, Mosca F. Effects of a dietary and environmental prevention programme on the incidence of allergic symptoms in high atopic risk infants: three years follow-up. <em>Acta Paediatr Suppl.</em> 1996;414:1-21.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/10086401?dopt=Abstract" target="_blank">Reuveni H, Chopnick G, Tai A, Tarasiuk A. Sleep fragmentation in children with atopic dermatitis. <em>Arch Pediatr Adolesc Med.</em> 1999;153:249-253. </a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=14657842&amp;query_hl=3" target="_blank">Spergel JM, Paller AS. Atopic dermatitis and the atopic march. <em>J Allergy Clin Immunol.</em> 2003;112(6 suppl):S118-S127.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/3215202?ordinalpos=&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.SmartSearch&amp;log$=citationsensor" target="_blank">Vandenplas Y, Deneyer M, Sacre L, Loeb H. Preliminary data on a field study with a new hypoallergenic formula. <em>Eur J Pediatr.</em> 1988;148:274&ndash;227.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/7671948?ordinalpos=&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.SmartSearch&amp;log$=citationsensor" target="_blank">Vandenplas Y, Hauser B, Van den Borre C, et al.  The long-term effect of a partial whey hydrolysate formula on the prophylaxis of atopic disease. <em>Eur J Pediatr.</em> 1995;154:488-494.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/18539195?ordinalpos=5&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum" target="_blank">von Berg A, Filipiak-Pittroff B, Kr&auml;mer U, et al; GINIplus study group.  Preventive effect of hydrolyzed infant formulas persists until age 6 years: long-term results from the German Infant Nutritional Intervention Study (GINI). <em>J Allergy Clin Immunol.</em> 2008;121:1442-1447.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=pubmed&amp;cmd=Retrieve&amp;dopt=AbstractPlus&amp;list_uids=17240440&amp;query_hl=5&amp;itool=pubmed_docsum" target="_blank">von Berg A, Koletzko S, Filipiak-Pittroff B, et al; German Infant Nutritional Intervention Study Group. Certain hydrolyzed formulas reduce the incidence of atopic dermatitis but not that of asthma: three-year results of the German Infant Nutritional Intervention Study. <em>J Allergy Clin Immunol.</em> 2007;119:718-725.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/12642834?ordinalpos=&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.SmartSearch&amp;log$=citationsensor" target="_blank">von Berg A, Koletzko S, Gr&uuml;bl A, et al; for the German Infant Nutritional Intervention Study Group. The effect of hydrolyzed cow&rsquo;s milk formula for allergy prevention in the first year of life: the German Infant Nutritional Intervention Study, a randomized double-blind trial. <em>J Allergy Clin Immunol.</em> 2003;111:533&ndash;540.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/8346868?ordinalpos=&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.SmartSearch&amp;log$=citationsensor" target="_blank">Willems R, Duchateau J, Magrez P, Denis R, Casimir G. Influence of hypoallergenic milk formula on the incidence of early allergic manifestations in infants predisposed to atopic diseases. <em>Ann Allergy.</em> 1993;71:147&ndash;150.</a></li>
</ul>
<h2>Atopic dermatitis</h2>
<h3>Videos</h3>
<ul class="article-list">
    <li><a href="/clinical-topics/allergy-and-immunity/articles/allergic-risk-associated-to-infant-formula">Allergic Risk Associated to Infant Formula</a></li>
</ul>
<h3>Abstracts</h3>
<ul class="article-list">
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/20216095" target="_blank">Alexander DD, Cabana MD. Partially hydrolyzed 100% whey protein infant formula and reduced risk of atopic dermatitis: a meta-analysis. <em>J Pediatr Gastroenterol Nutr.</em> 2010;50:422-430.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/20416019" target="_blank">Alexander DD, Schmitt DF, Tran NL, Barraj LM, Cushing CA. Partially hydrolyzed 100% whey protein infant formula and atopic dermatitis risk reduction: a systematic review of the literature. <em>Nutr Rev.</em> 2010;68:232-245.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15342828&amp;query_hl=3&amp;itool=pubmed_docsum" target="_blank">Chamlin SL, Frieden IJ, Williams ML, Chren MM. Effects of atopic dermatitis on young American children and their families. <em>Pediatrics.</em> 2004;114:607-611.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=11869407&amp;query_hl=11" target="_blank">Chan YH, Shek LP, Aw M, Quak SH, Lee BW. Use of hypoallergenic formula in the prevention of atopic disease among Asian children. <em>J Paediatr Child Health.</em> 2002;38:84-88.</a></li>
    <li><a href="http://pediatrics.aappublications.org/content/121/1/183.full.pdf+html" target="_blank">Greer FR, Sicherer SH, Burks AW; American Academy of Pediatrics Committee on Nutrition; American Academy of Pediatrics Section on Allergy and Immunology. Effects of early nutritional interventions on the development of atopic disease in infants and children: the role of maternal dietary restriction, breastfeeding, timing of introduction of complementary foods, and hydroloyzed formulas. <em>Pediatrics.</em> 2008;121:183-191.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/20925453" target="_blank">Iskedjian M, Szajewska M, Spieldenner J, Farah B, Berbari J. Meta-analysis of a partially hydrolysed 100%-whey infant formula vs. extensively hydrolysed infant formulas in the prevention of atopic dermatitis. <em>Curr Med Res Opin.</em> 2010;26:2599-2606.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=14993536&amp;query_hl=3" target="_blank">Moore MM, Rifas-Shiman SL, Rich-Edwards JW, et al. Perinatal predictors of atopic dermatitis occurring in the first six months of life. <em>Pediatrics.</em> 2004;113(3 pt 1):468-474.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=12487205&amp;dopt=Abstract" target="_blank">Oranje AP, Wolkerstarfer A, de Waard-van der Spek FB. Natural course of cow's milk allergy in childhood atopic eczema/dermatitis syndrome. <em>Ann Allergy Asthma Immunol.</em> 2002;89(suppl 1):52-55.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/20159252" target="_blank">Schmitt J , Apfelbacher C, Chen CM, et al; German Infant Nutrition Intervention plus Study Group. Infant-onset eczema in relation to mental health problems at age 10 years: results from a prospective birth cohort study (German Infant Nutrition Intervention plus). <em>J Allergy Clin Immunol.</em> 2010;125:404-410.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/20082618" target="_blank">von Berg A, Kr&auml;mer U, Link E, et al; GINIplus study group. Impact of early feeding on childhood eczema: development after nutritional intervention compared with the natural course&mdash;the GINIplus study up to the age of 6 years. <em>Clin Exp Allergy.</em> 2010;40:627-636.</a></li>
</ul>
<h2>Immunity in general</h2>
<h3>Articles</h3>
<ul class="article-list">
    <li><a href="/nutrition-health-topics/allergy-and-immunity/articles/probiotics-and-toddler-health">Probiotics and Toddler Health</a></li>
    <li><a href="/nutrition-health-topics/allergy-and-immunity/articles/lactic-acid-bacteria-and-immune-system-modulation">Lactic Acid Bacteria and Immune System Modulation</a></li>
</ul>
<h3>Abstracts</h3>
<ul class="article-list">
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/12788576?ordinalpos=20&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum" target="_blank">Kalliom&auml;ki M, Salminen S, Poussa T, Arvilommi H, Isolauri E. Probiotics and prevention of atopic disease: 4-year follow-up of a randomised placebo-controlled trial. <em>Lancet</em> 2003;361:1869&ndash;1871.</a></li>
    <li><a href="http://journals.lww.com/jpgn/pages/articleviewer.aspx?year=2006&amp;issue=05000&amp;article=00122&amp;type=fulltext" target="_blank">Mohan R, Koebrick C, Blaut M, Radke M, Schildt J, Possner M. Microbial colonization of the gastrointestinal tract of preterm infants: diversity and new ways for prevention of infections. <em>J Ped Gastroenterol Nutr. </em>2006;42:E36-E37.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=Retrieve&amp;list_uids=10634223&amp;dopt=Abstract" target="_blank">Saavedra J. Probiotics and infectious diarrhea. <em>Am J Gastroenterol.</em> 2000;95(suppl 1):S16-S18.</a></li>
    <li><a href="http://jn.nutrition.org/content/135/5/1294.full" target="_blank">Salminen SJ, Gueimonde M, Isdauri E. Probiotics that modify disease risk. <em>J Nutr.</em> 2005;135:1294-1298.</a></li>
</ul>
<h2>Immune system development</h2>
<h3>Abstracts</h3>
<ul class="article-list">
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=16394299&amp;ordinalpos=3&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum" target="_blank">Vesikari T, Matson DO, Dennehy P, et al; Rotavirus Efficacy and Safety Trial (REST) Study Team. Safety and efficacy of a pentavalent human-bovine (WC3) reassortant rotavirus vaccine. <em>N Engl J Med.</em> 2006;354:23-33.</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=Retrieve&amp;list_uids=16466072&amp;dopt=Abstract" target="_blank">Zahn M, Marshall GS. Clinical and epidemiological aspects of rotavirus infection. <em>Pediatr Ann.</em> 2006;35:23-28. </a></li>
</ul>